body {
	color: #FFFFFF;
	background: url("../images/skyrim_backdrop.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'Cinzel', serif;
}

.navbar-custom {
	background-color: black;
	border-bottom: outset;
}

div, img {
    border: hidden;
    border-radius: 8px;
}

.enemyBox {
	text-align: center;
}

.enemy {
	border: groove;
	color: gray;
}

#heading {
	background-color: black;
	border: outset;
	height: 70px;
}

#hero, #opponent {
	background-color: black;
	border: outset;
	margin-bottom: 20px;
	margin-right: 20px;
}

#opponent {
	display: none;
}

#plyrImg {
	float: left;
	margin-right: 20px;
	margin-bottom: 70px;
}

#opponentDiv > img {
	float: left;
	margin-right: 20px;
	margin-bottom: 70px;
}

#textBox {
	background-color: black;
	border: outset;
	height: 200px;
	margin-bottom: 100px;
}

button {
	margin: 5px;
}

.modal-content {
	background-color: black;
	color: white;
}

#modalTextInn {
	height: 250px;
}

.close {
	color: white;
}

#innBox {
	background-color: black;
	height: 200px;
	border: outset;
	margin-left: 20px;
}


